<ion-card>

  <ion-card-header>
    <ion-card-title>Proyectos</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-list>

      <div>

        <ion-item>
          <ion-avatar slot="start">
            <img
              src="https://media-exp1.licdn.com/dms/image/C4D0BAQEZIPxw5CcA3Q/company-logo_100_100/0/1623337609459?e=1675296000&v=beta&t=WJcW5yG8FQmhduE0F8F8qmBiNPxHP1ky9Tjb4d23O_o" />
          </ion-avatar>
          <ion-label>Best sample project</ion-label>
        </ion-item>

        <ion-item style="padding-top: 10px;">
          <ion-text>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla quis sunt nisi laborum, harum qui fuga
            incidunt voluptatum expedita, quae facilis modi officiis exercitationem magni sint error. Ad, placeat
            aliquid.
          </ion-text>
          <ion-button color="success">
            Ver más
          </ion-button>
        </ion-item>
      </div>

      <div>

        <ion-item>
          <ion-avatar slot="start">
            <img
              src="https://media-exp1.licdn.com/dms/image/C4D0BAQEXXSmfQW8GtA/company-logo_100_100/0/1657648693981?e=1675296000&v=beta&t=RBGjIXe1ZjceEWJ3gEY5kCtwAaeuGl16jgab_CKFHpU" />
          </ion-avatar>
          <ion-label>Best sample project</ion-label>
        </ion-item>

        <ion-item style="padding-top: 10px;">
          <ion-text>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla quis sunt nisi laborum, harum qui fuga
            incidunt voluptatum expedita, quae facilis modi officiis exercitationem magni sint error. Ad, placeat
            aliquid.
          </ion-text>
          <ion-button color="success">
            Ver más
          </ion-button>
        </ion-item>
      </div>

      <div>

        <ion-item>
          <ion-avatar slot="start">
            <img
              src="https://media-exp1.licdn.com/dms/image/C4D0BAQHVFGxoMSyKTA/company-logo_100_100/0/1656683852492?e=1675296000&v=beta&t=1TYNN8nFg_hDmBsbO3JFKJEQV805mSrrxKzhNOs4BwU" />
          </ion-avatar>
          <ion-label>Best sample project</ion-label>
        </ion-item>

        <ion-item style="padding-top: 10px;">
          <ion-text>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla quis sunt nisi laborum, harum qui fuga
            incidunt voluptatum expedita, quae facilis modi officiis exercitationem magni sint error. Ad, placeat
            aliquid.
          </ion-text>
          <ion-button color="success">
            Ver más
          </ion-button>
        </ion-item>
      </div>


    </ion-list>
  </ion-card-content>

</ion-card>