<body>
  <div class="header-intro theme-bg-primary text-white py-5 mt-n5">
    <div class="container">
      <h2 class="page-heading mb-0">Contacto</h2>
    </div>
  </div>

  <section class="section py-5">
    <div class="container">
      <div class="row">
        <div class="contact-intro col-lg-8 mx-lg-auto mb-5 text-center">
          <img class="profile-medium d-inline-block mx-auto rounded-circle mb-3" src="/assets/img/profile.jpg" alt="" />

          <div class="speech-bubble bg-white p-4 p-lg-5 shadow-sm">
            <p class="text-start mb-3">
              Actualmente estoy tomando trabajo freelance. Si estás interesado
              en contratarme para tu proyecto, por favor usá el formulario a
              continuación para ponernos en contacto. ¿Querés conocer mas acerca
              de mi formación y de que es lo que puedo hacer? Date una vuelta
              por mi
              <a class="text-link" href="./#proyectos">portfolio de proyectos</a>
              y por el extracto de mi
              <a class="text-link" href="./#experiencia">experiencia</a>.
            </p>
            <h6 class="font-weight-bold text-center mb-3">
              Tambien podés encontrarme en los siguientes canales
            </h6>

            <ul class="social-list-color list-inline mb-0">


              <li class="list-inline-item mb-3">
                <a class="linkedin" href="#"><i class="fab fa-linkedin-in fa-fw"></i></a>
              </li>
              <li class="list-inline-item mb-3">
                <a class="github" href="#"><i class="fab fa-github-alt fa-fw"></i></a>

            </ul>
          </div>
        </div>
        <div class="contact-form-container shadow-sm col-lg-8 mx-lg-auto p-5 bg-white">
          <form id="contact-form" class="contact-forms" method="post" action="">
            <h3 class="text-center mb-4">Ponete en contacto!</h3>
            <div class="row g-3">
              <div class="col-12 col-md-6">
                <label class="sr-only" for="cname">Nombre</label>
                <input type="text" class="form-control" id="cname" name="name" placeholder="Nombre" minlength="2"
                  required="" aria-required="true" />
              </div>
              <div class="col-12 col-md-6">
                <label class="sr-only" for="cemail">Email</label>
                <input type="email" class="form-control" id="cemail" name="email" placeholder="Email" required=""
                  aria-required="true" />
              </div>
              <div class="col-12">
                <label class="sr-only" for="cmessage">Mensaje</label>
                <textarea class="form-control" id="cmessage" name="message" placeholder="Escriba aquí su mensaje"
                  rows="10" required="" aria-required="true"></textarea>
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-secondary">Enviar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</body>