<ion-card>
  <ion-card-header>
    <ion-card-title>Educación</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-avatar slot="start">
          <img
            src="https://media-exp1.licdn.com/dms/image/C4D0BAQE0iRUqSJueUw/company-logo_100_100/0/1519902704390?e=1675296000&v=beta&t=IoOeE0vA7sYWQMEGxmj2OzKcXBcM7gR7H4aHt2LEkic" />
        </ion-avatar>
        <ion-card-subtitle>Best education example</ion-card-subtitle>
        <p>Lorem ipsum dolor, amet consectetur adipisicing elit. illum totam velit nam mollitia laudantium at sunt.
          Illum ullam sequi in libero asperiores fugiat vitae iusto. Ab, laudantium.</p>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img
            src="https://media-exp1.licdn.com/dms/image/C510BAQEkkWYQuUT1LA/company-logo_100_100/0/1519884120641?e=1675296000&v=beta&t=bgEUgH1zW0Z7hIq7oj-zJ6jbUlEQGVDCFiGwJnrROos" />
        </ion-avatar>
        <ion-card-subtitle>Best education example</ion-card-subtitle>
        <p>Lorem ipsum dolor, amet consectetur adipisicing elit. illum totam velit nam mollitia laudantium at sunt.
          Illum ullam sequi in libero asperiores fugiat vitae iusto. Ab, laudantium.</p>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img
            src="https://media-exp1.licdn.com/dms/image/C4E0BAQHhDPmHBm3pCg/company-logo_100_100/0/1563979482487?e=1675296000&v=beta&t=C0lGX8NQUcgz3swPD8G3CsYQUI3jR1uNHyBDaBELhHo" />
        </ion-avatar>
        <ion-card-subtitle>Best education example</ion-card-subtitle>
        <p>Lorem ipsum dolor, amet consectetur adipisicing elit. illum totam velit nam mollitia laudantium at sunt.
          Illum ullam sequi in libero asperiores fugiat vitae iusto. Ab, laudantium.</p>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>