<ion-header>
  <ion-toolbar>

    <ion-title style="float: left;">Argentina Programa</ion-title>
    <ion-label style="float: left;margin-top: 4px; color: lightblue;">#YoProgramo</ion-label>
   
    <ion-icon name="logo-linkedin" slot="end"></ion-icon>
    <ion-icon name="logo-whatsapp" slot="end"></ion-icon>
    <ion-icon name="mail-outline" slot="end"></ion-icon>

    <ion-button color="success" size="small" slot="end" class="btn-login" (click)="login()">
      Login
    </ion-button>
  
  </ion-toolbar>
</ion-header>