<ion-card>
  <ion-card-header>
    <ion-card-title>Experiencia</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-avatar slot="start">
          <img
            src="https://media-exp1.licdn.com/dms/image/C4E0BAQGLKj3JHcof0w/company-logo_100_100/0/1589990867649?e=1675296000&v=beta&t=Einlf_RWkg8hTdMek2dyvZHFnscsD2yAP99hRfMU0qQ" />
        </ion-avatar>
        <ion-card-subtitle>Best company example</ion-card-subtitle>
        <p>Lorem ipsum dolor, amet consectetur adipisicing elit. illum totam velit nam mollitia laudantium at sunt.
          Illum ullam sequi in libero asperiores fugiat vitae iusto. Ab, laudantium.</p>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img
            src="https://media-exp1.licdn.com/dms/image/C4D0BAQG6fJDrblcY9A/company-logo_100_100/0/1656698101163?e=1675296000&v=beta&t=LQn859KeE-6_aqVdgmV7L1ehynxtlG_e_vwIlRYNSRA" />
        </ion-avatar>
        <ion-card-subtitle>Best company example</ion-card-subtitle>
        <p>Lorem ipsum dolor, amet consectetur adipisicing elit. illum totam velit nam mollitia laudantium at sunt.
          Illum ullam sequi in libero asperiores fugiat vitae iusto. Ab, laudantium.</p>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <img
            src="https://media-exp1.licdn.com/dms/image/C4D0BAQEEraT_DmE2PA/company-logo_100_100/0/1657054487377?e=1675296000&v=beta&t=HXy4p33qWKFxVFBMzYfEJYGqukS5Q4Dz8HBGAbGw1Ys" />
        </ion-avatar>
        <ion-card-subtitle>Best company example</ion-card-subtitle>
        <p>Lorem ipsum dolor, amet consectetur adipisicing elit. illum totam velit nam mollitia laudantium at sunt.
          Illum ullam sequi in libero asperiores fugiat vitae iusto. Ab, laudantium.</p>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>