<div class="modal-header" style="background-color: #198754">
  <h2 class="mt-2 modal-title">Editar Experiencia</h2>
  <button type="button" class="btn-close" color="" aria-label="Cerrar"
    (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <div class="container">
    <form [formGroup]="editarExperienciaForm" (ngSubmit)="submitEditForm()" id="editarExperienciaForm">
      <div class="form-group mt-2">
        <label for="cargo">Cargo:</label>
        <input type="text" class="form-control" formControlName="cargo" />
      </div>

      <div class="form-group">
        <label for="empresa">Empresa:</label>
        <input type="text" class="form-control" formControlName="empresa" />
      </div>

      <div class="form-group">
        <label for="imgUrl">URL de la imagen:</label>
        <input type="text" class="form-control" formControlName="imgUrl" name="imgUrl" />
      </div>

      <div class="form-group">
        <label>Vista Previa:</label><br />
        <div class="text-center">
          <img id="image-preview" src="{{ imgPreview }}" class="logolateral img-fluid" alt="imgPreview" />
        </div>
      </div>

      <div class="form-group">
        <label for="fechaDesde">Fecha desde:</label>
        <input type="text" class="form-control" formControlName="fechaDesde" />
      </div>

      <div class="form-group">
        <label for="fechaHasta">Fecha hasta:</label>
        <input type="text" class="form-control" formControlName="fechaHasta" />
      </div>

      <div class="form-group">
        <label for="descripcion">Descripción:</label>
        <input type="text" class="form-control" formControlName="descripcion" />
      </div>
    </form>
  </div>
</div>
<div class="modal-footer">
  <button type="submit" form="editarExperienciaForm" class="btn btn-success" [disabled]="!editarExperienciaForm.valid">
    Guardar Cambios
  </button>
</div>