<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-back-outline" slot="start" (click)="volver()"></ion-icon>
    <ion-title>Ingresar al panel de control</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size-sm="12" size-md="9" size-lg="6">

        <ion-card>
          <ion-card-content>
            <ion-list>

              <ion-item>
                <ion-label>Usuario</ion-label>
                <ion-input placeholder="Escriba su nombre de usuario"></ion-input>
              </ion-item>

              <ion-item>
                <ion-label>Password</ion-label>
                <ion-input placeholder="Escriba su contraseña"></ion-input>
              </ion-item>

              <ion-item>
                <ion-button color="success">
                  Entrar
                </ion-button>
              </ion-item>

            </ion-list>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>