<div class="row" id="footer">
  <div class="container">
    <div class="text-center">
      <img class="profile-small d-inline-block mx-auto rounded-circle mb-2" [src]="miPerfilUsuario?.imgUrl" alt="" />
    </div>
    <h3 class="section-title clight font-weight-bold text-center mb-2">
      ¿Te interesa contar conmigo para tu proyecto?
    </h3>
    <div class="section-intro mx-auto text-center mb-3" style="color: #fff">
      ¿Estás buscando un desarrollador full-stack para tu aplicación web? Si la
      respuesta es si, enviame un mensaje a leandrocosmetomassini@gmail.com o
      podés usar el formulario de contacto.
    </div>
    <div class="text-center">
      <a class="btn btn-secondary" (click)="openContactoModal()">Contacto</a>
    </div>
  </div>
</div>