<div class="contenedor-perfil container-fluid mat-typography" *ngIf="cargado">
  <div class="row" id="inicio">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12" id="imgcover" style="background-image:url({{miPerfilUsuario.portadaUrl}});"></div>
      </div>
      <div class="row">
        <div class="col-md-3" id="areaperfil">
          <img alt="Foto de perfil" src="{{ miPerfilUsuario?.imgUrl }}" class="img-fluid" id="profpic" />

          <h2 class="mat-h2">{{ miPerfilUsuario?.nombre }}</h2>

          <h4 class="mat-h4">{{ miPerfilUsuario?.cargo }}</h4>
        </div>
        <div class="col-md-9 py-3">
          <div class="row">
            <div class="col-md-8 py-1">
              <h2>Hola! Bienvenidos a mi portfolio web!</h2>
            </div>

            <div *ngIf="authority === 'admin'" class="col-md-4 py-1 float-end">
              <a (click)="openEditFormModal(miPerfilUsuario.id)">
                <i class="float-end btn btn-success mx-2 fa-solid fa-pen-to-square"></i>
              </a>
            </div>
          </div>

          <p class="text-muted text-justify mr-4" style="line-height: 1.5em">
            {{ miPerfilUsuario?.intro }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>