<ion-card>
  <ion-card-header>
    <ion-card-title>Leandro Cosme Tomassini</ion-card-title>
    <ion-card-subtitle>Desarrollador web full stack</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-card-title>Sobre mí</ion-card-title>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, excepturi Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi fugit, earum beatae magnam est incidunt quasi fuga libero corporis quod ut impedit, quam consectetur accusamus maiores minima quas magni at. aliquam eligendi corrupti ea, non temporibus quis facilis est voluptatem ea optio accusantium sed tempora facilis! Eum, reiciendis atque quasi excepturi aliquam eligendi corrupti ea, non temporibus quis facilis est.</p>
  </ion-card-content>
</ion-card>